<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href=" {{url_for('static',filename='/boostrap/style.css')}}"> 
        <link rel="stylesheet" href=" {{url_for('static',filename='/css/style.css')}}">
    </head>
    <body>
        <div class="layout-head" role="alert">
            <h1>MGM`s POLYTECHNIC</h1>
        </div>
        <hr>
        <div class="sbs-main">
        {% block view %} {% endblock %}

        <div class="proceed">
            <hr>
            <a href="/index"><input type="button" class="btn btn-primary" value="Return To Index"></a>
            <a href="/" ><input type="button"  class="btn btn-primary" value="Return To dashbaord"></a>
        </div>

        <script>
        var is_dashbaord = a = document.getElementsByTagName('title')[0].innerText.trim().toLowerCase()
        if(is_dashbaord == 'dashbaord' || is_dashbaord =='index' ){
        document.getElementsByClassName('proceed')[1].style.margin='-100%';
        }
    </script>

    {% include "validation.html" %}
    
    </body>
</html>