<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href=" {{url_for('static',filename='/boostrap/style.css')}}"> 
        <link rel="stylesheet" href=" {{url_for('static',filename='/css/style.css')}}"> 
    </head>

    <body>
        <div class="alert alert-info log-head" role="alert">
            
        </div>

        <div class="sbs-main">
			<div class="log-sub">
				<form action="/login/1" method="POST">
					<h3>Log in</h3>
					<input name="username" type="text" class="form-control log-input" placeholder="Username" required>
					<input name="password" type="password" class="form-control log-input" placeholder="Password" required>
					<input type="submit" class="btn btn-primary" id="btn-me" value="Login">
				</form>
			</div>
            
			<div class="log-sub" id="log-right">
				<form action="/login/0" method="POST">
					<h3>Register</h3>
					<input name="username" type="text" class="form-control log-input" placeholder="Username" required>
					<input name="password" type="password" class="form-control log-input" placeholder="Password" required>
					<input name="confirmPassword" type="password" class="form-control log-input" placeholder="Confirm Password" required>
					<input name="" type="submit" class="btn btn-primary" id="btn-me" value="Register">
				</form>
			</div>    
        </div>
    </body>
</html>