{% extends "layout.html" %} 

{% block title %}
    PR PA
{% endblock %}

{% block view %}

<h3>PR PA</h3>
<table id="table" class="table table-me">
  <form method="POST" action="/prpa">
  <thead class="thead-dark">
    <tr>
      <th colspan="6">CO Wise Weightage Decided by Course Coordinator</th>
      <th rowspan="2">Total</th>
    </tr>
    <tr>
      <th>Course</th>
      <th >CE503.1</th>
      <th >CE503.2</th>   
      <th >CE503.3</th>   
      <th >CE503.4</th>      
      <th >CE503.5</th> 
      </tr>
       <tr>
         <th>No. OF Practicals</th> 
         {% if practical == None %}
         <td id=""><input name="prac1" type="number"></td>
         <td id=""><input name="prac2" type="number"></td>
         <td id=""><input name="prac3" type="number"></td>
         <td id=""><input name="prac4" type="number"></td>
         <td id=""><input name="prac5" type="number"></td>
         <td id=""></td>
         <td><input type="submit" class="btn btn-primary" name="add" value="Add"></td>  
         {% else %}
         <td id="">{{practical.CO1}}</td>
         <td id="">{{practical.CO2}}</td>
         <td id="">{{practical.CO3}}</td>
         <td id="">{{practical.CO4}}</td>
         <td id="">{{practical.CO5}}</td>
         <td id="">{{practical.Total}}</td>
        </tr>
         <tr>
          <th>% Weightage</th>
          <td>{{Prac_avg["co1"]|round if Prac_avg["co1"]>=0 else ""}}%</td>
          <td>{{Prac_avg["co2"]|round if Prac_avg["co2"]>=0 else ""}}%</td>   
          <td>{{Prac_avg["co3"]|round if Prac_avg["co3"]>=0 else ""}}%</td>   
          <td>{{Prac_avg["co4"]|round if Prac_avg["co4"]>=0 else ""}}%</td>      
          <td>{{Prac_avg["co5"]|round if Prac_avg["co5"]>=0 else ""}}%</td>
          <td>{{Prac_avg["total"]|round if Prac_avg["total"]>=0 else ""}}%</td>
        </tr>
         <tr>
           <th>Maximum Marks</th>
           <td>{{Prac_max["co1"] if Prac_max["co1"]>=0 else ""}}</td>
           <td>{{Prac_max["co2"] if Prac_max["co2"]>=0 else ""}}</td>   
           <td>{{Prac_max["co3"] if Prac_max["co3"]>=0 else ""}}</td>   
           <td>{{Prac_max["co4"] if Prac_max["co4"]>=0 else ""}}</td>      
           <td>{{Prac_max["co5"] if Prac_max["co5"]>=0 else ""}}</td>
           <td>{{Prac_max["total"] if Prac_max["total"]>=0 else ""}}</td>
         </tr>
        </thead>
</table>


{% if rows != None %}
<table id="table" class="table table-me">
    <thead class="thead-dark">
      <tr>
        <th >Sr No.</th>
        <th >Roll No</th>
        <th >Name of Student</th>
        <th>Marks Obtained </th>
        <th >CE503.1</th>
        <th >CE503.2</th>   
        <th >CE503.3</th>   
        <th >CE503.4</th>      
        <th >CE503.5</th>
        <th></th>   
      </tr>
      </thead>
      <tbody>
      {% for row in rows %}
      <tr>
          <td>{{row.Id}}</td>
          <td>{{row.rollNo}}</td>
          <td>{{row.StudentName}}</td>
          <td id="{{row.rollNo}}1" onclick=inputter(this.id)><input type="number" name={{row.rollNo}}1  id={{row.rollNo}}1 style="display:none">{{row.Marks_Obtained if row.Marks_Obtained>=0 else ""}}</td>
          <td>{{row.CO1}}</td>
          <td>{{row.CO2}}</td>
          <td>{{row.CO3}}</td>
          <td>{{row.CO4}}</td>
          <td>{{row.CO5}}</td>
          <td><input type="submit" class="btn btn-primary" name="{{row.StudentName}}" value="Edit"></td>   
          <script>
            function inputter(present){
              document.getElementById(present).childNodes[0].style.display="block"
            }</script> 
      </tr>
      {% endfor %}
      {% endif %}
      <tr>
        {% if rollno !=0 %}
          <td>{{id}}</td>
          <td>{{rollno}}</td>
          <td>{{name}}</td>
          <td><input value=0 type="number" name="marks" class="form-control td-in " ></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><input type="submit" class="btn btn-primary" name="entry" value="Enter"></td>
        </form>
          {% endif %}
      </tr>
      <thead class="thead-dark">
        <tr>
          <th colspan="4">Average Marks (81%)</th>
          <td>{{((Prac_avg["co1"]/100)*50*0.8)|round}}</td>
          <td>{{((Prac_avg["co2"]/100)*50*0.81)|round}}</td>
          <td>{{((Prac_avg["co3"]/100)*50 *0.81)|round}}</td>
          <td>{{((Prac_avg["co4"]/100)*50 *0.81)|round}}</td>
          <td>{{((Prac_avg["co5"]/100)*50 *0.81)|round}}</td>
        </tr>
        <tr>
          <th colspan="4">Number of Students who attempted</th>
          {% if total!= None %}
          <td>{{total["co1"]}}</td>
          <td>{{total["co2"]}}</td>
          <td>{{total["co3"]}}</td>
          <td>{{total["co4"]}}</td>
          <td>{{total["co5"]}}</td>
          {% endif %}
        </tr>
        <tr>
          <th colspan="4">Number of students getting marks more than average marks</th>
          {% if avg!= None %}
          <td>{{avg["co1"]}}</td>
          <td>{{avg["co2"]}}</td>
          <td>{{avg["co3"]}}</td>
          <td>{{avg["co4"]}}</td>
          <td>{{avg["co5"]}}</td>
          {% endif %}
        </tr>
        <tr>
            <th colspan="4">% of students getting marks more than average marks</th>
            {% if per!=None  %}
            <td>{{per["co1"]}}</td>
            <td>{{per["co2"]}}</td>
            <td>{{per["co3"]}}</td>
            <td>{{per["co4"]}}</td>
            <td>{{per["co5"]}}</td>
              {% endif %}
          </tr>
        <tr>
              <th colspan="4">Attainment level level achieved </th>
              {% if level != None %}
              <td>{{level["co1"]}}</td>
              <td>{{level["co2"]}}</td>
              <td>{{level["co3"]}}</td>
              <td>{{level["co4"]}}</td>
              <td>{{level["co5"]}}</td>
              {% endif %}
              {% endif %}
        </tr>
      </thead>
      </tbody>  
  </table>
  {% endblock %}  