{% extends "layout.html" %} 

{% block title %}
    Class Test 1
{% endblock %}


{% block view %}

    <h3>Class Test 1</h3>
    {% if rows != None %}
    <table id="table" class="table table-me">
        <thead class="thead-dark">
          <tr>
            <th rowspan="4">Sr No.</th>
            <th rowspan="4">Roll No</th>
            <th rowspan="4">Name of Student</th>
            <th colspan="6">Q1 Any four (8 Marks)</th>
            <th colspan="5" >2 Any three 12 marks</th>   
          </tr>
          <tr>
            <th>CE503.1</th>
            <th>CE503.1</th>
            <th>CE503.1</th>
            <th>CE503.2</th>
            <th>CE503.2</th>
            <th>CE503.2</th>
            <th>CE503.3</th>
            <th>CE503.3</th>
            <th>CE503.3</th>
            <th>CE503.3</th>
            <th>CE503.3</th>
          </tr>
          <tr>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>d</th>
            <th>e</th>
            <th>f</th>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>d</th>
            <th>e</th>
          </tr>
          <tr>
            <th>2</th>
            <th>2</th>
            <th>2</th>
            <th>2</th>
            <th>2</th>
            <th>2</th>
            <th>4</th>
            <th>4</th>
            <th>4</th>
            <th>4</th>
            <th>4</th>
          </tr>
        </thead>
        <tbody>
          <form method="POST" action="/test1" name="test" onsubmit=" return validatetest()">
          {% for row in rows %}
            <tr>
              <td>{{row.Id}}</td>
              <td>{{row.rollNo}}</td>
              <td>{{row.StudentName}}</td>
              <td id="{{row.rollNo}}1" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}1 id={{row.rollNo}}1 style="display:none">{{row.CO1_1 if row.CO1_1>=0 else ""}}</td>
              <td id="{{row.rollNo}}2" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}2 id={{row.rollNo}}2 style="display:none">{{row.CO1_2 if row.CO1_2>=0 else ""}}</td>
              <td id="{{row.rollNo}}3" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}3 id={{row.rollNo}}3 style="display:none">{{row.CO1_3 if row.CO1_3>=0 else ""}}</td>
              <td id="{{row.rollNo}}4" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}4 id={{row.rollNo}}4 style="display:none">{{row.CO2_1 if row.CO2_1>=0 else ""}}</td>
              <td id="{{row.rollNo}}5" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}5 id={{row.rollNo}}5 style="display:none">{{row.CO2_2 if row.CO2_2>=0 else ""}}</td>
              <td id="{{row.rollNo}}6" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}6 id={{row.rollNo}}6 style="display:none">{{row.CO2_3 if row.CO2_3>=0 else ""}}</td>
              <td id="{{row.rollNo}}7" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}7 id={{row.rollNo}}7 style="display:none">{{row.CO3_1 if row.CO3_1>=0 else ""}}</td>
              <td id="{{row.rollNo}}8" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}8 id={{row.rollNo}}8 style="display:none">{{row.CO3_2 if row.CO3_2>=0 else ""}}</td>
              <td id="{{row.rollNo}}9" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}9 id={{row.rollNo}}9 style="display:none">{{row.CO3_3 if row.CO3_3>=0 else ""}}</td>
              <td id="{{row.rollNo}}10" onclick=inputter(this.id)><input type="text"name={{row.rollNo}}10  id={{row.rollNo}}10 style="display:none">{{row.CO3_4 if row.CO3_4>=0 else ""}}</td>
              <td id="{{row.rollNo}}11" onclick=inputter(this.id)><input type="text"name={{row.rollNo}}11  id={{row.rollNo}}11 style="display:none">{{row.CO3_5 if row.CO3_5>=0 else ""}}</td>
              <td><input type="submit" class="btn btn-primary" name="{{row.StudentName}}" value="Edit"></td>   
                     
            </tr>

              {% endfor %}
              {% endif %}
              <tr>
                {% if rollno !=0 %}
                <td>{{id}}</td>
                <td>{{rollno}}</td>
                <td>{{name}}</td>
                <td><input id="two_marks1"  value=0 type="number" name=co1.1 class="form-control td-in "></td>
                <td><input id="two_marks2"   value=0 type="number" name=co1.2 class="form-control td-in "></td>
                <td><input id="two_marks3"   value=0 type="number" name=co1.3 class="form-control td-in "></td>
                <td><input id="two_marks4"  value=0 type="number" name=co2.1 class="form-control td-in "></td>
                <td><input id="two_marks5"   value=0 type="number" name=co2.2 class="form-control td-in "></td>
                <td><input id="two_marks6"   value=0 type="number" name=co2.3 class="form-control td-in "></td>
                <td><input id="four_marks1" value=0 type="number" name=co3.1 class="form-control td-in "></td>
                <td><input id="four_marks2" value=0 type="number" name=co3.2 class="form-control td-in "></td>
                <td><input id="four_marks3" value=0 type="number" name=co3.3 class="form-control td-in "></td>
                <td><input id="four_marks4" value=0 type="number" name=co3.4  class="form-control td-in "></td>
                <td><input id="four_marks5" value=0 type="number" name=co3.5  class="form-control td-in "></td>
               <td><input type="submit" class="btn btn-primary" name="entry" value="Enter"></td>
              </form>
          </tr>
          {% endif %}
          <thead class="thead-dark">
            <tr>
            <th colspan="3">Average Marks(57%)</th>
            <td>1.14</td>
            <td>1.14</td>
            <td>1.14</td>
            <td>1.14</td>
            <td>1.14</td>
            <td>1.14</td>
            <td>2.28</td>
            <td>2.28</td>
            <td>2.28</td>
            <td>2.28</td>
            <td>2.28</td>
          </tr>
          <tr>
            {% if total != None %}
            <th colspan="3">Number of Students who attempted</th>
            <td>{{total["co1_1"]}}</td>
            <td>{{total["co1_2"]}}</td>
            <td>{{total["co1_3"]}}</td>
            <td>{{total["co2_1"]}}</td>
            <td>{{total["co2_2"]}}</td>
            <td>{{total["co2_3"]}}</td>
            <td>{{total["co3_1"]}}</td>
            <td>{{total["co3_2"]}}</td>
            <td>{{total["co3_3"]}}</td>
            <td>{{total["co3_4"]}}</td>
            <td>{{total["co3_5"]}}</td>
            {% endif %}
          </tr>
          <tr>
            {% if avg != None %}
            <th colspan="3">Number of students getting makrs more than average marks</th>
            <td>{{avg["co1_1"]}}</td>
            <td>{{avg["co1_2"]}}</td>
            <td>{{avg["co1_3"]}}</td>
            <td>{{avg["co2_1"]}}</td>
            <td>{{avg["co2_2"]}}</td>
            <td>{{avg["co2_3"]}}</td>
            <td>{{avg["co3_1"]}}</td>
            <td>{{avg["co3_2"]}}</td>
            <td>{{avg["co3_3"]}}</td>
            <td>{{avg["co3_4"]}}</td>
            <td>{{avg["co3_5"]}}</td>
            {% endif %}
          </tr>
          <tr>
            {% if per != None %}
            <th colspan="3">% of students getting marks more than average marks</th>
            <td>{{per["co1_1"]}}%</td>
            <td>{{per["co1_2"]}}%</td>
            <td>{{per["co1_3"]}}%</td>
            <td>{{per["co2_1"]}}%</td>
            <td>{{per["co2_2"]}}%</td>
            <td>{{per["co2_3"]}}%</td>
            <td>{{per["co3_1"]}}%</td>
            <td>{{per["co3_2"]}}%</td>
            <td>{{per["co3_3"]}}%</td>
            <td>{{per["co3_4"]}}%</td>
            <td>{{per["co3_5"]}}%</td>
            {% endif %}
          </tr>
          <br>
          </thead>
        </tbody>
      </table>
      <br>
      <br>
      <table class="table table-me" style="width:50%">
        <thead class="thead-dark">
          <tr>
            <th colspan="3">Attainment</th>
            <td>%</td>
            <td>Level</td>
          </tr>
          <tr>
            <th colspan="3">% of Students scoring >= 57% in CE503.1</th>
            {% if co1!= None %}
            <td>{{att_per["co2"]}}%</td>
            <td>{{level["co1"]}}</td>
            {% endif %}
          </tr>          
          <tr>
            <th colspan="3">% of Students scoring >= 57% in CE503.2</th>
            {% if co2!= None %}
            <td>{{att_per["co2"]}}%</td>
            <td>{{level["co2"]}}</td>
            {% endif %}
          </tr>          
          <tr>
            <th colspan="3">% of Students scoring >= 57% in CE503.3</th>
            {% if co3!= None %}
            <td>{{att_per["co2"]}}%</td>
            <td>{{level["co3"]}}</td>
            {% endif %}
          </tr>
        </thead>
      </table>
      <script>
        function inputter(present){
          console.log(document.getElementById(present).childNodes[0].id)
          document.getElementById(present).childNodes[0].style.display="block"
        }
        function validatetest()
{
  var returnval=true;
  if(document.forms['test']["two_marks"].value>2)
  {
  alert("value is exceeding 2");
     returnval=false;
  }
  return returnval;

}
        </script>     

{% endblock %}