{% extends "layout.html" %} 

{% block title %}
    Class Test 2
{% endblock %}


{% block view %}

<h3>Class Test 2</h3>
{% if rows != None %}
<table id="table" class="table table-me">
    <thead class="thead-dark">
      <tr>
        <th rowspan="4">Sr No.</th>
        <th rowspan="4">Roll No</th>
        <th rowspan="4">Name of Student</th>
        <th colspan="6">Q1 Any four (8 Marks)</th>
        <th colspan="4" >2 Any two 12 marks</th>   
      </tr>
      <tr>
        <th>CE503.4</th>
        <th>CE503.4</th>
        <th>CE503.4</th>
        <th>CE503.4</th>
        <th>CE503.5</th>
        <th>CE503.5</th>
        <th>CE503.4</th>
        <th>CE503.5</th>
        <th>CE503.5</th>
        <th>CE503.5</th>
      </tr>
      <tr>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
      </tr>
      <tr>
        <th>2</th>
        <th>2</th>
        <th>2</th>
        <th>2</th>
        <th>2</th>
        <th>2</th>
        <th>6</th>
        <th>6</th>
        <th>6</th>
        <th>6</th>
      </tr>
    </thead>
    <tbody>
      <form method="POST" action="/test2" name="test2" onsubmit="return validatetest2()">
      {% for row in rows %}
        <tr>
          <td>{{row.Id}}</td>
          <td>{{row.rollNo}}</td>
          <td>{{row.StudentName}}</td>
          <td id="{{row.rollNo}}1" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}1 id={{row.rollNo}}1 style="display:none">{{row.CO4_1 if row.CO4_1>=0 else ""}}</td>
          <td id="{{row.rollNo}}2" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}2 id={{row.rollNo}}2 style="display:none">{{row.CO4_2 if row.CO4_2>=0 else ""}}</td>
          <td id="{{row.rollNo}}3" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}3 id={{row.rollNo}}3 style="display:none">{{row.CO4_3 if row.CO4_3>=0 else ""}}</td>
          <td id="{{row.rollNo}}4" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}4 id={{row.rollNo}}4 style="display:none">{{row.CO4_4 if row.CO4_4>=0 else ""}}</td>
          <td id="{{row.rollNo}}5" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}5 id={{row.rollNo}}5 style="display:none">{{row.CO5_1 if row.CO5_1>=0 else ""}}</td>
          <td id="{{row.rollNo}}6" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}6 id={{row.rollNo}}6 style="display:none">{{row.CO5_2 if row.CO5_2>=0 else ""}}</td>
          <td id="{{row.rollNo}}7" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}7 id={{row.rollNo}}7 style="display:none">{{row.CO4_5 if row.CO4_5>=0 else ""}}</td>
          <td id="{{row.rollNo}}8" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}8 id={{row.rollNo}}8 style="display:none">{{row.CO5_3 if row.CO5_3>=0 else ""}}</td>
          <td id="{{row.rollNo}}9" onclick=inputter(this.id)><input type="text" name={{row.rollNo}}9 id={{row.rollNo}}9 style="display:none">{{row.CO5_4 if row.CO5_4>=0 else ""}}</td>
          <td id="{{row.rollNo}}10" onclick=inputter(this.id)><input type="text"name={{row.rollNo}}10  id={{row.rollNo}}10 style="display:none">{{row.CO5_5 if row.CO5_5>=0 else ""}}</td>
          <td><input type="submit" class="btn btn-primary" name="{{row.StudentName}}" value="Edit"></td>   
          
        </tr>
          {% endfor %}
          {% endif %}
          <tr>
            {% if rollno !=0 %}
            <td>{{id}}</td>
            <td>{{rollno}}</td>
            <td>{{name}}</td>
            <td><input  id="two_marks1" value=0 type="number" name=co4_1 class="form-control td-in "></td>
            <td><input id="two_marks2" value=0 type="number" name=co4_2 class="form-control td-in "></td>
            <td><input id="two_marks3" value=0 type="number" name=co4_3 class="form-control td-in "></td>
            <td><input id="two_marks4" value=0 type="number" name=co4_4 class="form-control td-in "></td>
            <td><input id="two_marks5" value=0 type="number" name=co5_1 class="form-control td-in "></td>
            <td><input id="two_marks6" value=0 type="number" name=co5_2 class="form-control td-in "></td>
            <td><input id="six_marks1" value=0 type="number" name=co4_5 class="form-control td-in "></td>
            <td><input id="six_marks2" value=0 type="number" name=co5_3 class="form-control td-in "></td>
            <td><input id="six_marks3" value=0 type="number" name=co5_4 class="form-control td-in "></td>
            <td><input id="six_marks4" value=0 type="number" name=co5_5  class="form-control td-in "></td>
           <td><input type="submit" class="btn btn-primary" name="entry" value="Enter"></td>
          </form>
      </tr>
      {% endif %}
      <thead class="thead-dark">
        <tr>
        <th colspan="3">Average Marks(57%)</th>
        <td>1.14</td>
        <td>1.14</td>
        <td>1.14</td>
        <td>1.14</td>
        <td>1.14</td>
        <td>1.14</td>
        <td>3.42</td>
        <td>3.42</td>
        <td>3.42</td>
        <td>3.42</td>
      </tr>
      <tr>
        {% if total != None %}
        <th colspan="3">Number of Students who attempted</th>
        <td>{{total["co4_1"]}}</td>
        <td>{{total["co4_2"]}}</td>
        <td>{{total["co4_3"]}}</td>
        <td>{{total["co4_4"]}}</td>
        <td>{{total["co5_1"]}}</td>
        <td>{{total["co5_2"]}}</td>
        <td>{{total["co4_5"]}}</td>
        <td>{{total["co5_3"]}}</td>
        <td>{{total["co5_4"]}}</td>
        <td>{{total["co5_5"]}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if avg != None %}
        <th colspan="3">Number of students getting makrs more than average marks</th>
        <td>{{avg["co4_1"]}}</td>
        <td>{{avg["co4_2"]}}</td>
        <td>{{avg["co4_3"]}}</td>
        <td>{{avg["co4_4"]}}</td>
        <td>{{avg["co5_1"]}}</td>
        <td>{{avg["co5_2"]}}</td>
        <td>{{avg["co4_5"]}}</td>
        <td>{{avg["co5_3"]}}</td>
        <td>{{avg["co5_4"]}}</td>
        <td>{{avg["co5_5"]}}</td>
        {% endif %}
      </tr>
      <tr>
        {% if per != None %}
        <th colspan="3">% of students getting marks more than average marks</th>
        <td>{{per["co4_1"]}}%</td>
        <td>{{per["co4_2"]}}%</td>
        <td>{{per["co4_3"]}}%</td>
        <td>{{per["co4_4"]}}%</td>
        <td>{{per["co5_1"]}}%</td>
        <td>{{per["co5_2"]}}%</td>
        <td>{{per["co4_5"]}}%</td>
        <td>{{per["co5_3"]}}%</td>
        <td>{{per["co5_4"]}}%</td>
        <td>{{per["co5_5"]}}%</td>
        {% endif %}
      </tr>
      <br>
      </thead>
    </tbody>
  </table>
  <br>
  <br>
  <table class="table table-me" style="width:50%">
    <thead class="thead-dark">
      <tr>
        <th colspan="3">Attainment</th>
        <td>%</td>
        <td>Level</td>
      </tr>
      <tr>
        <th colspan="3">% of Students scoring >= 57% in CE503.1</th>
        {% if co4!= None %}
        <td>{{att_per["co4"]}}%</td>
        <td>{{level["co4"]}}</td>
        {% endif %}
      </tr>          
      <tr>
        <th colspan="3">% of Students scoring >= 57% in CE503.2</th>
        {% if co5!= None %}
        <td>{{att_per["co5"]}}%</td>
        <td>{{level["co5"]}}</td>
        {% endif %}
      </tr>          
    </thead>
  </table>
  <script>
    function inputter(present){
      console.log(document.getElementById(present).childNodes[0].id)
      document.getElementById(present).childNodes[0].style.display="block"
    }
    </script> 

{% endblock %}